@import "tailwindcss";
@import '@fontsource-variable/montserrat';

@theme {
    --font-montserrat: 'Montserrat Variable', sans-serif;



    --color-primario: #004F6D;
    --color-secundario: #2abaff;
    --color-negro: #000000;
    --color-blanco: #ffffff;

    --text-18px: 1.125rem;
}